<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Recupera tu Contraseña</h4>
                </div>

<form action="/auth/reset-password" method="POST">
<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Ingrese su dirección de correo electrónico y le enviaremos un correo electrónico con instrucciones para restablecer su contraseña.
        </p>
        <div data-mdb-input-init class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <a href="#" data-mdb-ripple-init class="btn btn-primary w-100">reiniciar contraseña</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="/auth/login">Login</a>
            <a class="" href="/auth/register">Registrarse</a>
        </div>
    </div>
</div>
</form>

</div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Somos más que sólo un Holding</h4>
                <p class="small mb-0">Un grupo de expertos en JavaScript, bases de datos, CSS y HTML se unió para 
                    ofrecer soluciones tecnológicas a usuarios y empresas de diversos sectores. Aprovechando su 
                    afinidad y habilidades complementarias, crearon aplicaciones web y optimizaron interfaces para
                     mejorar la experiencia digital. Su enfoque colaborativo les permitió adaptarse a proyectos de
                      distintas magnitudes, brindando soluciones personalizadas y de alta calidad. Se consolidaron
                       como un equipo confiable y eficiente, capaz de transformar desafíos en oportunidades tecnológicas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>