<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienes Raices Eleven</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="{{estilo}}">
</head>

<body>
    <!-- partial Navegación -->
    {{!-- {{>navbar}} --}}
    
    {{!-- renderizacion dinamica --}}
    {{{ body }}}

    {{!-- partial Footer --}}
    {{>footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>